@import './../../styles/var.scss';

.layout {
    position: relative;    
    margin-top: 30px;
    margin-bottom: 30px;

    img {
        margin: 0;
        position: absolute;
        top: 0px;
        left: 55px;
        @media (max-width: 999px) {
            display: none;
        }
    }
}

.image {
    margin: 1rem auto 1rem auto;
    display: block;
}